.timer {
  text-align: center;
  margin-top: 50px;
}

#timer-display {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .timer {
    margin-top: 20px;
  }

  #timer-display {
    font-size: 36px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
    margin: 0 5px;
  }
}
